# Project files
# Managed by GetVersionFromGitTag.cmake
VERSION
_version.py
conda_bld
conda-bld

# Temp files
*.swp

# C++ and temp files
*.o
*.so

# Documentation and c++ build artifacts
build*/
docs/html/
docs/latex/
docs/_build/
