<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build on pull request. See: https://xcp-confluence.lanl.gov/display/ASET/Pull+request+jobs</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.BooleanParameterDefinition>
          <name>NoHumansAllowed</name>
          <description>Prevent Manual Building</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.4.4">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name>origin</name>
        <refspec>+refs/pull-requests/*:refs/remotes/origin/pull-requests/* +refs/heads/*:refs/remotes/origin/*</refspec>
        <url>ssh://git@xcp-stash.lanl.gov:7999/mm/vector_tools.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>**/pull-requests/${pullRequestId}/merge</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.PreBuildMerge>
        <options>
          <mergeRemote>origin</mergeRemote>
          <mergeTarget>${targetBranch}</mergeTarget>
          <mergeStrategy>default</mergeStrategy>
          <fastForwardMode>FF</fastForwardMode>
        </options>
      </hudson.plugins.git.extensions.impl.PreBuildMerge>
    </extensions>
  </scm>
  <assignedNode>sstelmo</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <stashpullrequestbuilder.stashpullrequestbuilder.StashBuildTrigger plugin="stash-pullrequest-builder@1.17">
      <spec>* * * * *</spec>
      <cron>* * * * *</cron>
      <stashHost>https://xcp-stash.lanl.gov</stashHost>
      <credentialsId>654d0967-ce05-40ad-92b8-f2baa4a7a963</credentialsId>
      <projectCode>MM</projectCode>
      <repositoryName>vector_tools</repositoryName>
      <ignoreSsl>true</ignoreSsl>
      <targetBranchesToBuild>^((?!master).)*$</targetBranchesToBuild>
      <checkDestinationCommit>true</checkDestinationCommit>
      <checkNotConflicted>true</checkNotConflicted>
      <checkMergeable>false</checkMergeable>
      <checkProbeMergeStatus>false</checkProbeMergeStatus>
      <mergeOnSuccess>false</mergeOnSuccess>
      <deletePreviousBuildFinishComments>false</deletePreviousBuildFinishComments>
      <cancelOutdatedJobsEnabled>true</cancelOutdatedJobsEnabled>
      <ciSkipPhrases>NO TEST</ciSkipPhrases>
      <onlyBuildOnComment>false</onlyBuildOnComment>
      <ciBuildPhrases>test this please</ciBuildPhrases>
    </stashpullrequestbuilder.stashpullrequestbuilder.StashBuildTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>./jenkins_build.sh</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>build/results.tex</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
      <followSymlinks>true</followSymlinks>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.38">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>
